#plural-download-button {
  padding: 5px 10px;
  background-color: lightblue;
  color: #000;
  position: fixed;
  cursor: pointer;
  margin-left:64px;
}
.active{
  background-color: lightpink !important;
  cursor: auto !important;
}
.wrapper{
  width: 200px;
  height: 27px;
}